/node_modules
/nbproject
/vendor
/.env*
/_ide_helper.php
/.editorconfig
/webpack.mix.js
/README.md
/phpunit.xml
/package.json
/Envoy.blade.php
/.phpstorm.meta.php
/.gitlab-ci-APACHE.yml
/tests
/Dockerfile_APACHE
/.gitlab-ci.yml
/docker-compose.yml
/docker
/doc
/.gitignore 
/.gitattributes
/.styleci.yml
/Dockerfile_APACHE
/docker-install.sh